In [308]:
import pandas as pd
import numpy as np

In [390]:
countries = ['China', 'Denmark', 'Austria', 'Korea, South', 'Czechia', 'United Kingdom', 'Australia', 'India', 'Brazil', 'Italy', 'Spain', 'Germany', 'France', 'US', 'South Africa']
countries2 = ['China', 'Denmark', 'Austria', 'South Korea', 'Czechia', 'United Kingdom', 'Australia', 'India', 'Brazil', 'Italy', 'Spain', 'Germany', 'France', 'United States', 'South Africa']
print(countries, len(countries))

['China', 'Denmark', 'Austria', 'Korea, South', 'Czechia', 'United Kingdom', 'Australia', 'India', 'Brazil', 'Italy', 'Spain', 'Germany', 'France', 'US', 'South Africa'] 15

In [259]:
df_conf = pd.read_csv("./Data/time_series_covid19_confirmed_global.csv").drop(['Province/State', 'Lat', 'Long'], axis = 1)

df_death = pd.read_csv("./Data/time_series_covid19_deaths_global.csv").drop(['Province/State', 'Lat', 'Long'], axis = 1)

df_recov = pd.read_csv("./Data/time_series_covid19_recovered_global.csv").drop(['Province/State', 'Lat', 'Long'], axis = 1)

In [260]:
df_L = []

In [261]:
i = []

for index, row in df_conf.iterrows():
    if(row['Country/Region'] not in countries):
        i.append(index)
df_conf = df_conf.drop(i)

df_conf = df_conf.reset_index()


i = []
for index, row in df_death.iterrows():
    if(row['Country/Region'] not in countries):
        i.append(index)
df_death = df_death.drop(i)

df_death = df_death.reset_index()

i = []
for index, row in df_recov.iterrows():
    if(row['Country/Region'] not in countries):
        i.append(index)
df_recov = df_recov.drop(i)

df_recov = df_recov.reset_index()

In [262]:
for c in countries:
    cList = [0, c]
    cList = cList + [0 for i in range(len(df_conf.columns) - 2)]
    for index, row in df_conf.iterrows():
        if(row['Country/Region'] == c):
            for i in range(2, len(df_conf.columns)):
                cList[i] = cList[i] + row[df_conf.columns[i]]
                
    runT = cList[2]
    for i in range(3, len(cList)):
        cList[i] = cList[i] - runT
        runT += cList[i]
        
    df = pd.DataFrame(columns = df_conf.columns[1:])
    df.loc[0] = cList[1:]
    
    df = df.melt(id_vars=["Country/Region"], var_name="Date", value_name = "Confirmed_Cases")
    
    df_L.append(df)

In [263]:
ind = 0

for c in countries:
    cList = [0, c]
    cList = cList + [0 for i in range(len(df_recov.columns) - 2)]
    for index, row in df_recov.iterrows():
        if(row['Country/Region'] == c):
            for i in range(2, len(df_recov.columns)):
                cList[i] = cList[i] + row[df_recov.columns[i]]
                
    runT = cList[2]
    for i in range(3, len(cList)):
        cList[i] = cList[i] - runT
        runT += cList[i]
        
    df = pd.DataFrame(columns = df_recov.columns[1:])
    df.loc[0] = cList[1:]
    
    df = df.melt(id_vars=["Country/Region"], var_name="Date", value_name = "Recoveries")
    
    df_L[ind] = pd.merge(left = df_L[ind], right = df, how='inner')
    
    ind = ind + 1

In [264]:
ind = 0

for c in countries:
    cList = [0, c]
    cList = cList + [0 for i in range(len(df_death.columns) - 2)]
    for index, row in df_death.iterrows():
        if(row['Country/Region'] == c):
            for i in range(2, len(df_death.columns)):
                cList[i] = cList[i] + row[df_death.columns[i]]
                
    runT = cList[2]
    for i in range(3, len(cList)):
        cList[i] = cList[i] - runT
        runT += cList[i]
        
    df = pd.DataFrame(columns = df_death.columns[1:])
    df.loc[0] = cList[1:]
    
    df = df.melt(id_vars=["Country/Region"], var_name="Date", value_name = "Deaths")
    
    df_L[ind] = pd.merge(left = df_L[ind], right = df, how='inner')
    
    ind = ind + 1

In [265]:
df_L

[   Country/Region     Date Confirmed_Cases Recoveries Deaths
 0           China  1/22/20             548         28     17
 1           China  1/23/20              95          2      1
 2           China  1/24/20             277          6      8
 3           China  1/25/20             486          3     16
 4           China  1/26/20             669         10     14
 ..            ...      ...             ...        ...    ...
 76          China   4/7/20              53        100      0
 77          China   4/8/20              91        157      2
 78          China   4/9/20              74        112      2
 79          China  4/10/20              58        112      1
 80          China  4/11/20              73         86      3

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0         Denmark  1/22/20               0          0      0
 1         Denmark  1/23/20               0          0      0
 2         Denmark  1/24/20               0          0      0
 3         Denmark  1/25/20               0          0      0
 4         Denmark  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76        Denmark   4/7/20             391        132     16
 77        Denmark   4/8/20             331        142     15
 78        Denmark   4/9/20             233        120     19
 79        Denmark  4/10/20             184         46     10
 80        Denmark  4/11/20             177        182     13

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0         Austria  1/22/20               0          0      0
 1         Austria  1/23/20               0          0      0
 2         Austria  1/24/20               0          0      0
 3         Austria  1/25/20               0          0      0
 4         Austria  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76        Austria   4/7/20             342        583     23
 77        Austria   4/8/20             303        466     30
 78        Austria   4/9/20             302        728     22
 79        Austria  4/10/20             311        824     24
 80        Austria  4/11/20             251        540     18

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0    Korea, South  1/22/20               1          0      0
 1    Korea, South  1/23/20               0          0      0
 2    Korea, South  1/24/20               1          0      0
 3    Korea, South  1/25/20               0          0      0
 4    Korea, South  1/26/20               1          0      0
 ..            ...      ...             ...        ...    ...
 76   Korea, South   4/7/20              47         96      6
 77   Korea, South   4/8/20              53         82      8
 78   Korea, South   4/9/20              39        197      4
 79   Korea, South  4/10/20              27        144      4
 80   Korea, South  4/11/20              30        126      3

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0         Czechia  1/22/20               0          0      0
 1         Czechia  1/23/20               0          0      0
 2         Czechia  1/24/20               0          0      0
 3         Czechia  1/25/20               0          0      0
 4         Czechia  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76        Czechia   4/7/20             195         51     10
 77        Czechia   4/8/20             295         61     11
 78        Czechia   4/9/20             257         68     13
 79        Czechia  4/10/20             163         45      7
 80        Czechia  4/11/20              99         65     10

 [81 rows x 5 columns],
     Country/Region     Date Confirmed_Cases Recoveries Deaths
 0   United Kingdom  1/22/20               0          0      0
 1   United Kingdom  1/23/20               0          0      0
 2   United Kingdom  1/24/20               0          0      0
 3   United Kingdom  1/25/20               0          0      0
 4   United Kingdom  1/26/20               0          0      0
 ..             ...      ...             ...        ...    ...
 76  United Kingdom   4/7/20            3670         38    786
 77  United Kingdom   4/8/20            5525         20    940
 78  United Kingdom   4/9/20            4398         14    882
 79  United Kingdom  4/10/20            8733        229    981
 80  United Kingdom  4/11/20            5269         34    918

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0       Australia  1/22/20               0          0      0
 1       Australia  1/23/20               0          0      0
 2       Australia  1/24/20               0          0      0
 3       Australia  1/25/20               0          0      0
 4       Australia  1/26/20               4          0      0
 ..            ...      ...             ...        ...    ...
 76      Australia   4/7/20              98          0      5
 77      Australia   4/8/20             115          0      5
 78      Australia   4/9/20              98        392      1
 79      Australia  4/10/20             107        321      3
 80      Australia  4/11/20              88         13      3

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0           India  1/22/20               0          0      0
 1           India  1/23/20               0          0      0
 2           India  1/24/20               0          0      0
 3           India  1/25/20               0          0      0
 4           India  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76          India   4/7/20             533         46     14
 77          India   4/8/20             605         85     28
 78          India   4/9/20             809        114     48
 79          India  4/10/20             873        154     20
 80          India  4/11/20             848        195     42

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0          Brazil  1/22/20               0          0      0
 1          Brazil  1/23/20               0          0      0
 2          Brazil  1/24/20               0          0      0
 3          Brazil  1/25/20               0          0      0
 4          Brazil  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76         Brazil   4/7/20            1873          0    122
 77         Brazil   4/8/20            2136          0    133
 78         Brazil   4/9/20            1922         46    131
 79         Brazil  4/10/20            1546          0    107
 80         Brazil  4/11/20            1089          0     67

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0           Italy  1/22/20               0          0      0
 1           Italy  1/23/20               0          0      0
 2           Italy  1/24/20               0          0      0
 3           Italy  1/25/20               0          0      0
 4           Italy  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76          Italy   4/7/20            3039       1555    604
 77          Italy   4/8/20            3836       2099    542
 78          Italy   4/9/20            4204       1979    610
 79          Italy  4/10/20            3951       1985    570
 80          Italy  4/11/20            4694       2079    619

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0           Spain  1/22/20               0          0      0
 1           Spain  1/23/20               0          0      0
 2           Spain  1/24/20               0          0      0
 3           Spain  1/25/20               0          0      0
 4           Spain  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76          Spain   4/7/20            5267       2771    704
 77          Spain   4/8/20            6278       4813    747
 78          Spain   4/9/20            5002       4144    655
 79          Spain  4/10/20            5051       3503    634
 80          Spain  4/11/20            4754       3441    525

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0         Germany  1/22/20               0          0      0
 1         Germany  1/23/20               0          0      0
 2         Germany  1/24/20               0          0      0
 3         Germany  1/25/20               0          0      0
 4         Germany  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76        Germany   4/7/20            4289       7381    206
 77        Germany   4/8/20            5633      10219    333
 78        Germany   4/9/20            4885       6107    258
 79        Germany  4/10/20            3990       1506    160
 80        Germany  4/11/20            2737       3487    -31

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0          France  1/22/20               0          0      0
 1          France  1/23/20               0          0      0
 2          France  1/24/20               2          0      0
 3          France  1/25/20               1          0      0
 4          France  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76         France   4/7/20           11102       2095   1417
 77         France   4/8/20            3894       1929    544
 78         France   4/9/20            4822       1961   1341
 79         France  4/10/20            7150       1782    987
 80         France  4/11/20            4796       1468    636

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0              US  1/22/20               1          0      0
 1              US  1/23/20               0          0      0
 2              US  1/24/20               1          0      0
 3              US  1/25/20               0          0      0
 4              US  1/26/20               3          0      0
 ..            ...      ...             ...        ...    ...
 76             US   4/7/20           29556       2182   1939
 77             US   4/8/20           32829       1796   1973
 78             US   4/9/20           32385       1851   1783
 79             US  4/10/20           35098       3380   2108
 80             US  4/11/20           29861       2480   1877

 [81 rows x 5 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths
 0    South Africa  1/22/20               0          0      0
 1    South Africa  1/23/20               0          0      0
 2    South Africa  1/24/20               0          0      0
 3    South Africa  1/25/20               0          0      0
 4    South Africa  1/26/20               0          0      0
 ..            ...      ...             ...        ...    ...
 76   South Africa   4/7/20              63          0      1
 77   South Africa   4/8/20              96          0      5
 78   South Africa   4/9/20              89          0      0
 79   South Africa  4/10/20              69        315      6
 80   South Africa  4/11/20              25          0      1

 [81 rows x 5 columns]]

In [427]:
df_cont = pd.read_csv("./Data/COVID 19 Containment measures data.csv")
df_cont = df_cont.drop(['ID', 'Source', 'Target city', 'Target region', 'Target state', 'Applies To'], axis = 1)
df_cont = df_cont.drop(['Implementing State/Province', 'Exceptions', 'Implementing City', 'Quantity'], axis = 1)
df_cont = df_cont.drop(['Target country', 'Description of measure implemented'], axis = 1)

In [428]:
i = []
for index, row in df_cont.iterrows():
    if(row['Country'] not in countries + ['United States', 'South Korea']):
        i.append(index)
        
df_cont = df_cont.drop(i)

df_cont = df_cont.dropna(thresh = 2)

df_cont = df_cont.reset_index()

In [429]:
df_cont = df_cont.drop(['index'], axis = 1)
df_cont

,Country,Date Start,Date end intended,Keywords
0,Austria,"Mar 16, 2020",NaN,university closure
1,Germany,"Feb 01, 2020",NaN,international traveller quarantine - risk coun...
2,United Kingdom,"Mar 20, 2020",NaN,"nursery school closure, school closure, univer..."
3,United Kingdom,"Mar 16, 2020",NaN,blanket isolation - symptoms
4,United Kingdom,"Mar 16, 2020",NaN,isolation advice to elderly
...,...,...,...,...
473,Brazil,"Mar 25, 2020",NaN,"blanket announcement, public announcement"
474,Brazil,"Mar 25, 2020",NaN,stay home advice
475,Brazil,"Mar 28, 2020",NaN,stay home advice
476,Brazil,"Mar 24, 2020",NaN,public statement in support of resuming business
477,Brazil,"Mar 16, 2020",NaN,prison policy

In [430]:
k = []
l = []
for index, row in df_cont.iterrows():
    if row['Keywords'] not in k:
        k.append(row['Keywords'])

In [431]:
k

['university closure',
 'international traveller quarantine - risk countries, traveller testing',
 'nursery school closure, school closure, university closure',
 'blanket isolation - symptoms',
 'isolation advice to elderly',
 'public announcement, social distancing',
 'end of testing, testing criteria tightened',
 'international traveller quarantine - risk countries',
 'outbound travel warning',
 'religious activity limitations',
 'school closure',
 nan,
 'international traveller screening - all countries',
 'epidemic data',
 'personal hygiene, social distancing',
 'remote work, social distancing',
 'special management arrangements',
 'remote schooling',
 'discharged patient isolation',
 'hospital specialisation, hospital treatment, task group, treatment capacity',
 'public announcement, public hygiene',
 'religious activity limitations, social distancing',
 'remote work',
 'medical staff protective equipment',
 'epidemic data, public hygiene',
 'confirmed case isolation, religious activity cancellation, symptom isolation',
 'hygiene enforcement, individual hygiene, social distancing',
 'social distancing',
 'cohort isolation - no symptoms',
 'public announcement, special management arrangements',
 'confirmed case isolation, public announcement',
 'cohort isolation - no symptoms, test cohorts',
 'hospital specialisation, public facility cleaning',
 'cluster isolation - no symptoms',
 'testing',
 'test symptomatic, testing criteria',
 'public facility cleaning',
 'expansion of testing facilities',
 'new testing method commenced',
 'first case',
 'hospital specialisation',
 'public facility cleaning, public hygiene',
 'compulsory isolation, confirmed case isolation',
 'case reporting, research, source tracing',
 'limited nonessential business suspension',
 'case reporting',
 'special management arrangements, task group',
 'contacts traced total, research',
 'deregulation, economic incentives',
 'waste water treatment',
 'social distancing, weddings canceled',
 'blanket isolation - no symptoms, compulsory isolation',
 'general nonessential business suspension, school closure, university closure',
 'hospital construction, hospital specialisation, treatment capacity',
 'public announcement',
 'economic stimulus',
 'funeral hygiene, hygiene enforcement, public hygiene',
 'event cancellation - other',
 'speculative treatment',
 'hospital construction, hospital specialisation',
 'public hygiene',
 'compulsory isolation, contact isolation - no symptoms',
 'international aid',
 'manufacturing capacity',
 'military takeover, special management arrangements',
 'general nonessential business suspension',
 'international traveller screening - risk countries',
 'diagnostic criteria loosened',
 'intellectual property, pharmaceutical treatment',
 'school closure, university closure',
 'deregulation, economic stimulus',
 'medical aid',
 'encouraging symptomatic people to seek tests, fever medicine ban',
 'treatment capacity',
 'business resumed',
 'very large event cancellation or postponement',
 'case reporting, first case',
 'contacts traced total',
 'wild animal ban',
 'public transport limitation lifted, social distancing',
 'public mask and hygiene supply',
 'general nonessential business suspension, school closure',
 'compulsory isolation, domestic traveller quarantine',
 'blanket curfew - no symptoms',
 'sports cancellation',
 'cultural activity limitation',
 'religious activity cancellation',
 'activity cancellation - other',
 'confirmed case isolation, international traveller quarantine - risk countries',
 'limited nonessential business suspension, restaurant limitations',
 'outbound traveller ban',
 'emergency declaration, special management arrangements',
 'contact tracing, phone based location tracing, public transport occupancy tracing',
 'remote schooling - limited',
 'cash cleaning, public hygiene',
 'compulsory isolation, natural village quarantine',
 'outdoor gatherings banned',
 'domestic travel resumed',
 'remote medical treatment',
 'economic stimulus, encouraging symptomatic people to seek tests, financial incentive, testing',
 'domestic travel resumed, public transport resumed',
 'mandated remote schooling, remote schooling',
 'domestic traveller screening',
 'diagnostic criteria tightened, testing',
 'public transport resumed',
 'total vehicle ban',
 'encouraging symptomatic people to seek tests',
 'diagnostic criteria tightened, epidemic data',
 'test contacts, test symptomatic',
 'compulsory isolation, confirmed case isolation, discharged patient isolation',
 'compulsory isolation, international traveller quarantine - risk countries',
 'test inpatients, test vulnerable, testing criteria loosened',
 'domestic traveller screening, test travellers',
 'social distancing, visiting in hospital banned',
 'testing planned',
 'quarantine planned',
 'testing commenced',
 'blanket isolation - no symptoms, general nonessential business suspension',
 'indoor gatherings banned',
 'international travel ban - risk countries',
 'outdoor gatherings banned, social distancing',
 'blanket isolation - no symptoms',
 'sports cancellation, very large event cancellation or postponement',
 'cultural activity limitation, school closure, university closure',
 'general nonessential business suspension, mandated remote work, remote work',
 'public announcement, public transport limited',
 'army deployed, hospital specialisation, treatment capacity',
 'international travel ban - all countries',
 'nursery school closure, school closure',
 'event cancellation - other, very large event cancellation or postponement',
 'contact isolation - symptoms, remote medical treatment, remote medical treatment - symptomatic',
 'prohibition of medicine export',
 'domestic travel limitation',
 'emergency declaration, special management arrangements, state of emergency',
 'visiting in hospital banned',
 'hygiene enforcement',
 'domestic travel ban, social distancing',
 'international traveller quarantine - all countries',
 'coronavirus education activities, public announcement, social distancing advice',
 'limited nonessential business suspension, outdoor gatherings banned',
 'public announcement, special management arrangements, state of emergency',
 'cluster isolation - no symptoms, compulsory isolation',
 'phone line',
 'remote work - limited',
 'domestic traveller quarantine',
 'public mask and hygiene supply, public transport cleaning',
 'public facility temperature screening',
 'quaratine violation',
 'court cancellation',
 'school closure - limited',
 'closure nonessential stores, general nonessential business suspension, public announcement, special management arrangements, state of emergency',
 'coronavirus education activities, phone line',
 'medical staff protective equipment, prohibition of medicine export',
 'social distancing advice',
 'public announcement, social distancing advice',
 'outdoor gatherings banned, space minimum',
 'price gouging ban',
 'test symptomatic',
 'cluster isolation - no symptoms, public announcement',
 'test contacts',
 'case reporting, diagnostic criteria tightened',
 'domestic travel ban',
 'blanket isolation - no symptoms, compulsory isolation, domestic travel ban, outdoor gatherings banned, public green closure, sports cancellation',
 'army deployed',
 'economic incentives, financial incentive',
 'religious activity cancellation, religious activity limitations',
 'cultural activity limitation, limited nonessential business suspension',
 'prisons closed to visitors, riots',
 'source tracing',
 'household quarantine',
 'testing, testing planned',
 'contact isolation',
 'compulsory isolation, outdoor gatherings banned',
 'limited nonessential business suspension, restaurant limitations, space minimum',
 'test travellers, testing criteria loosened',
 'phone based location tracing',
 'public mask encouragement, public transport cleaning',
 'public mask encouragement',
 'handwashing encouragement, medical staff protective equipment, public announcement',
 'quarantine zone',
 'healthcare entry screening',
 'healthcare entry screening, hospital specialisation',
 'contact tracing',
 'coronavirus education activities',
 'contact isolation - no symptoms',
 'test travellers',
 'cohort isolation - no symptoms, public facility cleaning',
 'public facility cleaning, public mask encouragement, social distancing advice',
 'public mask wearing data',
 'blanket text messaging, coronavirus education activities',
 'testing numbers total',
 'state of emergency',
 'compulsory isolation',
 'elderly',
 'outdoor gatherings banned, social distancing advice',
 'domestic travel limitation, limited nonessential business suspension',
 'funeral hygiene',
 'blanket announcement, public announcement',
 'stay home advice',
 'public statement in support of resuming business',
 'prison policy']

In [432]:
ind = 0

m = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May']

c = []

for co in countries2:
    df_L[ind]['Online_School'] = 0
    for index, row in df_cont.iterrows():
        if(row['Country'] == co):
            if (str(row['Keywords']).count("school") > 0 or str(row['Keywords']).count("university") > 0 or str(row['Keywords']).count("schooling") > 0):
                print(co, row['Date Start'], row['Date end intended'])
                dayS = int(row['Date Start'].split(' ')[1][0:2])
                monthS = int(m.index(row['Date Start'].split(' ')[0]))
                
                nDS = (monthS, dayS)
                
                dayE = 31
                monthE = 12
                if(str(row['Date end intended']) != 'nan'):
                    dayE = int(row['Date end intended'].split(' ')[1][0:2])
                    monthE = int(m.index(row['Date end intended'].split(' ')[0]))
                    
                nDE = (monthE, dayE)
                    
#                 print(dayS, monthS, dayE, monthE)
                
                for i, r in df_L[ind].iterrows():
                    day = 0
                    month = 0
            
                    if(len(r['Date'].split('/')) == 3):
                        day = int(r['Date'].split('/')[1])
                        month = int(r['Date'].split('/')[0])
                    elif(len(r['Date'].split('-')) == 3):
                        day = int(r['Date'].split('-')[1])
                        month = int(r['Date'].split('-')[0])
                    
                    nD = (month, day)
                    
                    if(nDS <= nD <= nDE):
                         df_L[ind].at[i, 'Online_School'] = 1

    ind = ind + 1

China Feb 01, 2020 nan
China Feb 01, 2020 nan
China Feb 06, 2020 nan
China Feb 06, 2020 nan
China Feb 06, 2020 nan
China Feb 06, 2020 nan
China Feb 13, 2020 nan
China Feb 13, 2020 nan
China Feb 14, 2020 nan
China Feb 18, 2020 nan
Denmark Mar 13, 2020 nan
Denmark Mar 13, 2020 Mar 27, 2020
Denmark Mar 16, 2020 Mar 30, 2020
Austria Mar 16, 2020 nan
Austria Mar 15, 2020 Apr 04, 2020
Austria Mar 17, 2020 Apr 04, 2020
Austria Mar 10, 2020 Mar 16, 2020
South Korea Mar 17, 2020 nan
South Korea Mar 02, 2020 nan
South Korea Mar 02, 2020 nan
South Korea Mar 01, 2020 nan
Czechia Mar 10, 2020 nan
United Kingdom Mar 20, 2020 nan
Brazil Mar 21, 2020 nan
Italy Mar 08, 2020 Apr 04, 2020
Italy Feb 22, 2020 nan
Italy Feb 23, 2020 Mar 01, 2020
Italy Feb 25, 2020 nan
Italy Feb 24, 2020 Mar 02, 2020
Italy Feb 25, 2020 Mar 09, 2020
Italy Feb 26, 2020 Mar 29, 2020
Italy Mar 02, 2020 nan
Italy Mar 02, 2020 nan
Italy Feb 26, 2020 nan
Italy Feb 26, 2020 nan
Italy Feb 26, 2020 nan
Italy Feb 22, 2020 Mar 07, 2020
Italy Feb 29, 2020 Mar 03, 2020
Italy Mar 04, 2020 nan
Spain Mar 09, 2020 nan
Spain Mar 10, 2020 nan
Spain Mar 11, 2020 Mar 26, 2020
Spain Mar 11, 2020 Mar 25, 2020
Spain Mar 12, 2020 nan
Germany Mar 13, 2020 Apr 20, 2020
France Mar 16, 2020 nan
United States Feb 06, 2020 nan
South Africa Mar 18, 2020 nan

In [433]:
ind = 0

m = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May']

c = []

for co in countries2:
    df_L[ind]['Social_Distancing'] = 0
    for index, row in df_cont.iterrows():
        if(row['Country'] == co):
            if (str(row['Keywords']).count("social distancing") > 0):
                print(co, row['Date Start'], row['Date end intended'])
                dayS = int(row['Date Start'].split(' ')[1][0:2])
                monthS = int(m.index(row['Date Start'].split(' ')[0]))
                
                nDS = (monthS, dayS)
                
                dayE = 31
                monthE = 12
                if(str(row['Date end intended']) != 'nan'):
                    dayE = int(row['Date end intended'].split(' ')[1][0:2])
                    monthE = int(m.index(row['Date end intended'].split(' ')[0]))
                    
                nDE = (monthE, dayE)
                    
#                 print(dayS, monthS, dayE, monthE)
                
                for i, r in df_L[ind].iterrows():
                    day = 0
                    month = 0
            
                    if(len(r['Date'].split('/')) == 3):
                        day = int(r['Date'].split('/')[1])
                        month = int(r['Date'].split('/')[0])
                    elif(len(r['Date'].split('-')) == 3):
                        day = int(r['Date'].split('-')[1])
                        month = int(r['Date'].split('-')[0])
                        
                    nD = (month, day)
                    
                    if(nDS <= nD <= nDE):
                        df_L[ind].at[i, 'Social_Distancing'] = 1

    ind = ind + 1

China Feb 01, 2020 nan
China Feb 12, 2020 nan
Austria Mar 10, 2020 nan
Austria Mar 15, 2020 nan
South Korea Mar 09, 2020 nan
South Korea Mar 05, 2020 nan
South Korea Feb 29, 2020 nan
South Korea Feb 29, 2020 nan
South Korea Feb 25, 2020 nan
South Korea Feb 25, 2020 nan
South Korea Mar 22, 2020 nan
South Korea Mar 23, 2020 Apr 05, 2020
Czechia Mar 10, 2020 nan
Czechia Mar 16, 2020 Mar 24, 2020
Czechia Mar 24, 2020 nan
United Kingdom Mar 16, 2020 nan
Brazil Mar 20, 2020 nan
Germany Mar 18, 2020 nan
Germany Mar 09, 2020 nan
Germany Mar 12, 2020 nan
France Mar 15, 2020 nan
South Africa Mar 26, 2020 Apr 16, 2020

In [434]:
ind = 0

m = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May']

c = []

for co in countries2:
    df_L[ind]['Travel_Ban'] = 0
    for index, row in df_cont.iterrows():
        if(row['Country'] == co):
            if (str(row['Keywords']).count("travel") > 0 or str(row['Keywords']).count("traveller") > 0):
                print(co, row['Date Start'], row['Date end intended'])
                dayS = int(row['Date Start'].split(' ')[1][0:2])
                monthS = int(m.index(row['Date Start'].split(' ')[0]))
                
                nDS = (monthS, dayS)
                
                dayE = 31
                monthE = 12
                if(str(row['Date end intended']) != 'nan'):
                    dayE = int(row['Date end intended'].split(' ')[1][0:2])
                    monthE = int(m.index(row['Date end intended'].split(' ')[0]))
                    
                nDE = (monthE, dayE)
                
                for i, r in df_L[ind].iterrows():
                    day = 0
                    month = 0
            
                    if(len(r['Date'].split('/')) == 3):
                        day = int(r['Date'].split('/')[1])
                        month = int(r['Date'].split('/')[0])
                    elif(len(r['Date'].split('-')) == 3):
                        day = int(r['Date'].split('-')[1])
                        month = int(r['Date'].split('-')[0])
                        
                    nD = (month, day)
                    
                    if(nDS <= nD <= nDE):
                        df_L[ind].at[i, 'Travel_Ban'] = 1

    ind = ind + 1

China Feb 03, 2020 nan
China Feb 14, 2020 nan
China Feb 16, 2020 nan
China Feb 17, 2020 nan
China Feb 19, 2020 nan
China Feb 19, 2020 nan
China Feb 20, 2020 nan
China Feb 21, 2020 nan
China Feb 25, 2020 nan
China Feb 25, 2020 nan
China Feb 26, 2020 nan
Denmark Mar 11, 2020 nan
Denmark Mar 14, 2020 Apr 13, 2020
Austria Mar 10, 2020 nan
Austria Mar 13, 2020 nan
South Korea Mar 13, 2020 nan
South Korea Mar 11, 2020 nan
South Korea Mar 23, 2020 nan
South Korea Mar 17, 2020 nan
South Korea Mar 20, 2020 nan
South Korea Apr 01, 2020 nan
Czechia Mar 13, 2020 nan
Czechia Mar 13, 2020 nan
Czechia Mar 10, 2020 nan
Czechia Mar 05, 2020 Mar 19, 2020
Czechia Mar 16, 2020 nan
Czechia Feb 03, 2020 nan
Czechia Feb 26, 2020 nan
Czechia Feb 25, 2020 nan
Czechia Mar 16, 2020 Mar 24, 2020
Czechia Jan 31, 2020 nan
Czechia Mar 19, 2020 nan
Czechia Mar 31, 2020 nan
United Kingdom Feb 26, 2020 nan
United Kingdom Mar 18, 2020 Apr 18, 2020
Australia Feb 01, 2020 nan
Australia Mar 15, 2020 nan
Australia Mar 20, 2020 nan
India Feb 29, 2020 nan
India Mar 15, 2020 nan
Brazil Mar 13, 2020 nan
Brazil Mar 18, 2020 nan
Brazil Mar 14, 2020 nan
Brazil Mar 17, 2020 nan
Brazil Mar 19, 2020 nan
Brazil Mar 21, 2020 nan
Italy Jan 31, 2020 nan
Italy Jan 31, 2020 nan
Italy Feb 22, 2020 nan
Italy Feb 23, 2020 nan
Italy Feb 24, 2020 nan
Italy Feb 25, 2020 nan
Italy Mar 07, 2020 nan
Italy Mar 16, 2020 nan
Italy Mar 20, 2020 nan
Spain Mar 10, 2020 Mar 25, 2020
Spain Mar 17, 2020 nan
Germany Feb 01, 2020 nan
Germany Mar 16, 2020 nan
Germany Mar 17, 2020 nan
Germany Mar 17, 2020 nan
Germany Feb 28, 2020 nan
Germany Jan 28, 2020 Feb 09, 2020
Germany Jan 29, 2020 nan
Germany Feb 28, 2020 nan
Germany Mar 17, 2020 nan
France Mar 16, 2020 nan
United States Jan 07, 2020 nan
United States Feb 25, 2020 nan

In [435]:
ind = 0

m = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May']

c = []

for co in countries2:
    df_L[ind]['Army_Deployed'] = 0
    for index, row in df_cont.iterrows():
        if(row['Country'] == co):
            if (str(row['Keywords']).count("army") > 0 or str(row['Keywords']).count("military") > 0):
                print(co, row['Date Start'], row['Date end intended'])
                dayS = int(row['Date Start'].split(' ')[1][0:2])
                monthS = int(m.index(row['Date Start'].split(' ')[0]))
                
                nDS = (monthS, dayS)
                
                dayE = 31
                monthE = 12
                if(str(row['Date end intended']) != 'nan'):
                    dayE = int(row['Date end intended'].split(' ')[1][0:2])
                    monthE = int(m.index(row['Date end intended'].split(' ')[0]))
                    
                nDE = (monthE, dayE)
                
                for i, r in df_L[ind].iterrows():
                    day = 0
                    month = 0
            
                    if(len(r['Date'].split('/')) == 3):
                        day = int(r['Date'].split('/')[1])
                        month = int(r['Date'].split('/')[0])
                    elif(len(r['Date'].split('-')) == 3):
                        day = int(r['Date'].split('-')[1])
                        month = int(r['Date'].split('-')[0])
                        
                    nD = (month, day)
                    
                    if(nDS <= nD <= nDE):
                        df_L[ind].at[i, 'Army_Deployed'] = 1

    ind = ind + 1

China Feb 03, 2020 nan
Italy Mar 19, 2020 nan
France Mar 16, 2020 nan

In [436]:
ind = 0

m = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May']

c = []

for co in countries2:
    df_L[ind]['Army_Deployed'] = 0
    for index, row in df_cont.iterrows():
        if(row['Country'] == co):
            if (str(row['Keywords']).count("army") > 0):
                print(co, row['Date Start'], row['Date end intended'])

Italy Mar 19, 2020 nan
France Mar 16, 2020 nan

In [437]:
df_L

[   Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0           China  1/22/20             548         28     17              0
 1           China  1/23/20              95          2      1              0
 2           China  1/24/20             277          6      8              0
 3           China  1/25/20             486          3     16              0
 4           China  1/26/20             669         10     14              0
 ..            ...      ...             ...        ...    ...            ...
 76          China   4/7/20              53        100      0              1
 77          China   4/8/20              91        157      2              1
 78          China   4/9/20              74        112      2              1
 79          China  4/10/20              58        112      1              1
 80          China  4/11/20              73         86      3              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0         Denmark  1/22/20               0          0      0              0
 1         Denmark  1/23/20               0          0      0              0
 2         Denmark  1/24/20               0          0      0              0
 3         Denmark  1/25/20               0          0      0              0
 4         Denmark  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76        Denmark   4/7/20             391        132     16              1
 77        Denmark   4/8/20             331        142     15              1
 78        Denmark   4/9/20             233        120     19              1
 79        Denmark  4/10/20             184         46     10              1
 80        Denmark  4/11/20             177        182     13              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  0           1              0
 77                  0           1              0
 78                  0           1              0
 79                  0           1              0
 80                  0           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0         Austria  1/22/20               0          0      0              0
 1         Austria  1/23/20               0          0      0              0
 2         Austria  1/24/20               0          0      0              0
 3         Austria  1/25/20               0          0      0              0
 4         Austria  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76        Austria   4/7/20             342        583     23              1
 77        Austria   4/8/20             303        466     30              1
 78        Austria   4/9/20             302        728     22              1
 79        Austria  4/10/20             311        824     24              1
 80        Austria  4/11/20             251        540     18              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0    Korea, South  1/22/20               1          0      0              0
 1    Korea, South  1/23/20               0          0      0              0
 2    Korea, South  1/24/20               1          0      0              0
 3    Korea, South  1/25/20               0          0      0              0
 4    Korea, South  1/26/20               1          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76   Korea, South   4/7/20              47         96      6              1
 77   Korea, South   4/8/20              53         82      8              1
 78   Korea, South   4/9/20              39        197      4              1
 79   Korea, South  4/10/20              27        144      4              1
 80   Korea, South  4/11/20              30        126      3              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0         Czechia  1/22/20               0          0      0              0
 1         Czechia  1/23/20               0          0      0              0
 2         Czechia  1/24/20               0          0      0              0
 3         Czechia  1/25/20               0          0      0              0
 4         Czechia  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76        Czechia   4/7/20             195         51     10              1
 77        Czechia   4/8/20             295         61     11              1
 78        Czechia   4/9/20             257         68     13              1
 79        Czechia  4/10/20             163         45      7              1
 80        Czechia  4/11/20              99         65     10              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
     Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0   United Kingdom  1/22/20               0          0      0              0
 1   United Kingdom  1/23/20               0          0      0              0
 2   United Kingdom  1/24/20               0          0      0              0
 3   United Kingdom  1/25/20               0          0      0              0
 4   United Kingdom  1/26/20               0          0      0              0
 ..             ...      ...             ...        ...    ...            ...
 76  United Kingdom   4/7/20            3670         38    786              1
 77  United Kingdom   4/8/20            5525         20    940              1
 78  United Kingdom   4/9/20            4398         14    882              1
 79  United Kingdom  4/10/20            8733        229    981              1
 80  United Kingdom  4/11/20            5269         34    918              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0       Australia  1/22/20               0          0      0              0
 1       Australia  1/23/20               0          0      0              0
 2       Australia  1/24/20               0          0      0              0
 3       Australia  1/25/20               0          0      0              0
 4       Australia  1/26/20               4          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76      Australia   4/7/20              98          0      5              0
 77      Australia   4/8/20             115          0      5              0
 78      Australia   4/9/20              98        392      1              0
 79      Australia  4/10/20             107        321      3              0
 80      Australia  4/11/20              88         13      3              0

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  0           1              0
 77                  0           1              0
 78                  0           1              0
 79                  0           1              0
 80                  0           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0           India  1/22/20               0          0      0              0
 1           India  1/23/20               0          0      0              0
 2           India  1/24/20               0          0      0              0
 3           India  1/25/20               0          0      0              0
 4           India  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76          India   4/7/20             533         46     14              0
 77          India   4/8/20             605         85     28              0
 78          India   4/9/20             809        114     48              0
 79          India  4/10/20             873        154     20              0
 80          India  4/11/20             848        195     42              0

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  0           1              0
 77                  0           1              0
 78                  0           1              0
 79                  0           1              0
 80                  0           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0          Brazil  1/22/20               0          0      0              0
 1          Brazil  1/23/20               0          0      0              0
 2          Brazil  1/24/20               0          0      0              0
 3          Brazil  1/25/20               0          0      0              0
 4          Brazil  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76         Brazil   4/7/20            1873          0    122              1
 77         Brazil   4/8/20            2136          0    133              1
 78         Brazil   4/9/20            1922         46    131              1
 79         Brazil  4/10/20            1546          0    107              1
 80         Brazil  4/11/20            1089          0     67              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0           Italy  1/22/20               0          0      0              0
 1           Italy  1/23/20               0          0      0              0
 2           Italy  1/24/20               0          0      0              0
 3           Italy  1/25/20               0          0      0              0
 4           Italy  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76          Italy   4/7/20            3039       1555    604              1
 77          Italy   4/8/20            3836       2099    542              1
 78          Italy   4/9/20            4204       1979    610              1
 79          Italy  4/10/20            3951       1985    570              1
 80          Italy  4/11/20            4694       2079    619              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  0           1              1
 77                  0           1              1
 78                  0           1              1
 79                  0           1              1
 80                  0           1              1

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0           Spain  1/22/20               0          0      0              0
 1           Spain  1/23/20               0          0      0              0
 2           Spain  1/24/20               0          0      0              0
 3           Spain  1/25/20               0          0      0              0
 4           Spain  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76          Spain   4/7/20            5267       2771    704              1
 77          Spain   4/8/20            6278       4813    747              1
 78          Spain   4/9/20            5002       4144    655              1
 79          Spain  4/10/20            5051       3503    634              1
 80          Spain  4/11/20            4754       3441    525              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  0           1              0
 77                  0           1              0
 78                  0           1              0
 79                  0           1              0
 80                  0           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0         Germany  1/22/20               0          0      0              0
 1         Germany  1/23/20               0          0      0              0
 2         Germany  1/24/20               0          0      0              0
 3         Germany  1/25/20               0          0      0              0
 4         Germany  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76        Germany   4/7/20            4289       7381    206              1
 77        Germany   4/8/20            5633      10219    333              1
 78        Germany   4/9/20            4885       6107    258              1
 79        Germany  4/10/20            3990       1506    160              1
 80        Germany  4/11/20            2737       3487    -31              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              0
 77                  1           1              0
 78                  1           1              0
 79                  1           1              0
 80                  1           1              0

 [81 rows x 9 columns],
    Country/Region     Date Confirmed_Cases Recoveries Deaths  Online_School  \
 0          France  1/22/20               0          0      0              0
 1          France  1/23/20               0          0      0              0
 2          France  1/24/20               2          0      0              0
 3          France  1/25/20               1          0      0              0
 4          France  1/26/20               0          0      0              0
 ..            ...      ...             ...        ...    ...            ...
 76         France   4/7/20           11102       2095   1417              1
 77         France   4/8/20            3894       1929    544              1
 78         France   4/9/20            4822       1961   1341              1
 79         France  4/10/20            7150       1782    987              1
 80         France  4/11/20            4796       1468    636              1

     Social_Distancing  Travel_Ban  Army_Deployed
 0                   0           0              0
 1                   0           0              0
 2                   0           0              0
 3                   0           0              0
 4                   0           0              0
 ..                ...         ...            ...
 76                  1           1              1

In [438]:
for d in df_L:
    c = d.loc[0, 'Country/Region']
    
    d.to_csv("./Clean/" + c + ".csv", index = False)